{
  "src/**/*.{vue,less,scss,css}": [
    "stylelint --fix"
  ],
  "src/**/*.{js,ts,jsx,tsx,json,vue}": [
    "eslint --fix"
  ],
  "src/**/*.{js,ts,jsx,tsx,json,vue,css,scss,less,md}": [
    "prettier --write"
  ]
}
